.header {
    top: 0;
    height: $header-nav-height;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    z-index: 50;
    line-height: $header-nav-height;

    transition: all .15s linear;

    @include respond(smallest) {
        height: 100vh;
    }

    &__toggle {
        display: none;
        position: fixed;
        top: 4%;
        right: 2.5%;
        width: 5rem;
        padding: 6px;
        height: 5rem;
        background: none;
        border: none;
        outline: none;
        z-index: 9999;
        cursor: pointer;

        @include respond(smallest) {
            display: block;
        }
        
        // @include respond(small) {
        //     top: 3%;
        //     right: 5%;
        // }
    
        // &:hover &-stripe {
        //     background: rgba(rgb(250, 250, 250), 1);
        //     box-shadow: -1rem 0 50px 1px rgba(white, .25), 1rem 0 50px 1px rgba(white, .25);
        //     width: 100%;
        // }
            
        &-stripe {
            // display: block;
            position: absolute;
            // border: 1px solid black;
            background: rgba(rgb(200, 200, 200), 1);
            // border-radius: 100px;
            // padding: 13px;
            width: 3rem;
            left: 0;
            height: 6px;
            box-shadow: 0;
            transition: width .15s .15s    cubic-bezier(.74,1.52,.64,.9),
            box-shadow .15s linear
            ;
    
            @include respond(medium) {
                width: 2rem;
                height: 3px;
            }
            
            @for $i from 0 through 2 {
                
                &--#{$i} {
                    top: 0 + $i * 27%;
                    width: 100% - $i * 1 / 5 * 100%; 
                    transition: 
                    width .15s $i * .05s + 0.01s cubic-bezier(.72,1.7 + $i * 0.3,.54,.5 ),
                    top .5s .5s cubic-bezier(.74,1.52,.64,.9), 
                    transform .15s .25s ease-out;
                    
                    // transition-delay: $i * .05s + 0.01s;
                    // height:  $i / 5 * 1px + 2px;
                }
            }
    
            &--3 {
                width :100%;
                top: 27%;
                transform: rotateZ(45deg);
                opacity: 0;
                transition: opacity 0s .2s, width .15s .08s cubic-bezier(.72,2,.54,.5 ),
                transform .2s .1s  ease-out;
            }
        }     
    }
                            
    &__input {
        display: none;
        
        &:checked {
            & + .header__toggle {
                & .header__toggle-stripe {
                    width :100%;
                    top: 27%;
                    transition: top .25s cubic-bezier(.74,1.52,.64,.9), 
                    transform .15s .3s ease-out,  box-shadow .1s linear
                    ;
                    
                    &--0 {
                        // width: 115%;
                        transform: rotateZ(45deg);
                    }
                    
                    &--1 {
                        transform: rotateZ(45deg);
                        
                    }
                    
                    &--2 {
                        transform: rotateZ(45deg);
                    }
                    
                    &--3 {
                        opacity: 1;
                        transform: rotateZ(135deg);
                        transition: opacity 0s .4s,
                        transform .15s .65s ease-out;
                    }
                }
            }
                
            & ~ .header__nav { 
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
                // .header__nav-item {
                //     transform: translateX(0);
                //     opacity: 1;
                //     z-index: 1000000;
                //     @for $i from 0 through 4 {
                //         &:nth-child(#{$i}) {
                //             transition: transform .35s $i * 0.1 + .1s ease-out,
                //             opacity 1.2s $i * .1s + .05s ease-out;
                //         }
                //     }
                    
                //     #heart {
                //         line-height: 1.1;
                //     }
                // }
            }
        }
    }
    
    // &__secondary-background {
    //     position: absolute;
    //     right: 0;
    //     top: 10rem;
    // }

    &__nav {
        display: flex;
        width: 95%;
        // justify-content: space-between;
        // align-items: center;
        margin-left: auto;
        height: 100%;
        transition: all .15s linear;

        @include respond(large) {
            width: 97%;
        }

        @include respond(smallest) {
            position: fixed;
            width: 100vw;
            flex-direction: column;
            justify-content: center;
            transform: translateX(-100%);
            background-color: rgba($color-primary-dark, .95);
            opacity: 0;
            visibility: hidden;
        }
    }

    &__nav-item {
        text-align: center;
        position: relative;
        overflow: hidden;
        
        // @include respond(smallest) {
        //     color: $color-primary-dark;
        // }

        &--myself {
            margin-right: auto;

            @include respond(smallest) {
                margin: 0;
            }
        }

        &--not-myself {
            margin-right: 5%;//medium-small
        
            @include respond(large) {
                margin-right: 4%;
            }
            
            @include respond(small) {
                margin-right: 4%;
            }
            
            @include respond(smallest) {
                margin-right: 0;
            }
        }
    }

    &__nav-link {
        position: relative;
        font-size: 2.3rem;
        font-weight: 100;
        text-decoration: none;
        transition: all .15s ease-in;

        @include respond(small) {
            font-size: 3rem;
        }
        @include respond(smallest) {
            height: 100vh;
        }

        &--myself {
            letter-spacing: .5rem;
            color: rgba(255, 255, 255, 0.65);
            font-weight: 900;
            border: 3px solid transparent;
            padding: 1.2rem 3rem;
            border-radius: 35px;
            
            &:hover {
                color: white;
                border: 3px solid rgba(255, 255, 255, 0.55);
                box-shadow: inset 2rem 0 3.5rem -2.5rem rgba(255, 255, 255, 0.95), inset -2rem 0 3.5rem -2.5rem rgba(255, 255, 255, 0.95);
            }
        }

        &--not-myself {
            
            color: rgba(255, 255, 255, 0.6);

            &::after {
                content: '';
                width: 0%;
                position: absolute;
                bottom: -50%;
                left: 0;
                // transform: translate(-50%);
                height: 2px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.95);
                transition: .15s all linear;

            }

            &:hover {
                color: rgba(255, 255, 255, 0.95);
            }

            &:hover::after {
                
                width: 100%;
            }
        }

        &--myself,
        &--not-myself {
            @include respond(smallest) {
                font-size: 5rem;
                color: rgba(white, .95);
            }
        }
    }

    &.header-stuck {
        position: fixed;
        animation: header-transition .3s ease-in forwards;
        width: 100%;
        height: $header-stuck-height;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) , rgba(255, 255, 255, .9));
        line-height: $header-stuck-height;
        box-shadow: 0 -.5rem 1rem 1px rgba(0, 0, 0, .25);

        & .header__nav {

            width: 65%;
            margin: 0 auto;
            border: none;
            justify-content: center;

            @include respond(large) {
                width: 80%;
            }
            
            @include respond(small) {
                width: 100%;
            }
        }

        & .header__nav-item {
            flex: 0 0 15%;
            
            @include respond(small) {
                flex: auto;
            }

            &--myself {
                margin-right: 5%;
            }

            &::after {
                content:'';
                width: 80%;
                height: 0;
                position: absolute;
                background-color: $color-secondary-dark;
                bottom: 0;
                border-radius: 50px 50px 0 0 ;
                left: 50%;
                transform: translate(-50%);
                transition: all .15s linear;
            }
        }

        & .header__nav-link {
                                                //////////BORDER TRANSITION ON HOVER STILL NEEDS FIXING
            font-size: 2rem;
            border-radius: 30px;
            padding: .8rem 1.6rem;
            transition: all .2s linear;
            color: rgb(112, 92, 92);
            box-shadow: inset 0 0 0 0  rgba(0, 0, 0, 0.5);

            &.current-visible-section::after {
                height: .4rem;
            }

            &::after {
                content: none;
            }

            &:hover {
                background: rgba(120, 0, 190, 0.35);
                color: rgba(255, 255, 255, 1);
                box-shadow: inset 2px 6px 8px -4px rgba(0, 0, 0, 0.65), inset 2px -3px 8px -6px rgba(252, 252, 252, 0.75);
                border: 3px solid rgba(0, 0, 0, 0.35);
            }
        }

    }
    
    &.header-unstuck {
        animation: header-transition .3s ease-in  reverse forwards;
    }
}








