.header {
    top: 0;
    height: $header-nav-height;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    z-index: 50;
    line-height: $header-nav-height;

    transition: all .15s linear;

    &__secondary-background {
        position: absolute;
        right: 0;
        top: 10rem;
    }

    &__nav {
        display: flex;
        width: 95%;
        // justify-content: space-between;
        // align-items: center;
        margin-left: auto;
        height: 100%;

        @include respond(large) {
            width: 97%;
        }
    }

    &__nav-item {
        text-align: center;
        position: relative;
        overflow: hidden;
        
        &--myself {
            margin-right: auto;
        }

        &--not-myself {
            margin-right:5%;//medium-small
        
            @include respond(large) {
                margin-right: 4%;
            }
            @include respond(small) {
                margin-right: 4%;
            }
        }
    }

    &__nav-link {
        position: relative;
        font-size: 2.3rem;
        font-weight: 100;
        text-decoration: none;
        transition: all .15s ease-in;
        &--myself {
            
            letter-spacing: .5rem;
            color: rgba(255, 255, 255, 0.65);
            font-weight: 900;
            border: 3px solid transparent;
            padding: 1.2rem 3rem;
            border-radius: 35px;
            
            &:hover {
                color: white;
                border: 3px solid rgba(255, 255, 255, 0.55);
                box-shadow: inset 2rem 0 3.5rem -2.5rem rgba(255, 255, 255, 0.95), inset -2rem 0 3.5rem -2.5rem rgba(255, 255, 255, 0.95);
            }
        }

        &--not-myself {
            
            color: rgba(255, 255, 255, 0.6);

            &::after {
                content: '';
                width: 0%;
                position: absolute;
                bottom: -50%;
                left: 50%;
                transform: translate(-50%);
                height: 2px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.95);
                transition: .15s all linear;

            }

            &:hover {
                color: rgba(255, 255, 255, 0.95);
            }

            &:hover::after {
                
                width: 90%;
            }
        }

    }

    &.header-stuck {
        





        position: fixed;
        animation: header-transition .3s ease-in forwards;
        width: 100%;
        height: $header-stuck-height;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) , rgba(255, 255, 255, .9));
        line-height: $header-stuck-height;
        box-shadow: 0 -.5rem 1rem 1px rgba(0, 0, 0, .25);

        & .header__nav {

            width: 65%;
            margin: 0 auto;
            border:none;

            @include respond(large) {
                width: 80%;
    
            }
        }

        & .header__nav-item {
            flex: 0 0 15%;

            &::after {
                content:'';
                width: 80%;
                height: 0;
                position: absolute;
                background-color: $color-secondary-dark;
                bottom: 0;
                border-radius: 50px 50px 0 0 ;
                left:50%;
                transform: translate(-50%);
                transition: all .15s linear;
            }
        }

        & .header__nav-link {

            font-size: 2rem;
            border-radius: 30px;
            padding: .8rem 1.6rem;
            transition: background-color .2s linear;
            color: rgb(112, 92, 92);
            box-shadow: inset 0 0 0 0  rgba(0, 0, 0, 0.5);

            @include respond(large) {
                // font-size: 1.7rem;
            }

            &.current-visible-section::after {
                height: .4rem;
            }

            &::after {
                content: none;
            }

            &:hover {
                background: rgba(120, 0, 190, 0.35);
                color: rgba(255, 255, 255, 1);
                box-shadow: inset 2px 6px 8px -4px rgba(0, 0, 0, 0.65), inset 2px -3px 8px -6px rgba(252, 252, 252, 0.75);
                border: 3px solid rgba(0, 0, 0, 0.35);
            }
        }

    }
    
    &.header-unstuck {
        animation: header-transition .3s ease-in  reverse forwards;
    }
}

