.splash {
    height: 600px;
    padding-right:10rem;
    position: relative;
    z-index: 500;
    background-image: linear-gradient(to left, rgb(130, 64, 168), rgb(182, 88, 116));
    
    &__overlay {
        width: 97%;
        height:92%;
        // background-size: cover;
        background-image:linear-gradient(to bottom right, rgba(255, 255, 255, 0.349), rgba(255, 255, 255, .85));//, url(../img/matrix.png);
        // background-color: rgba(0, 0, 0, 0.507);
        z-index: 200;
        position: relative;
        border-top-right-radius: 20% 50rem;
        border-bottom-right-radius: 110rem 15%;
        border-bottom-left-radius: 25%;
        // border-bottom: 4px solid rgba(59, 0, 20, .1);
        // border-right: 4px solid rgba(59, 0, 20, .1);
        box-shadow: -9rem .5rem 0 5px rgba(16, 184, 92, 0.9), -9rem 4rem 0 5px rgba(63, 166, 226, 0.4), 
                     7.5rem .7rem 0 8px rgba(0, 255, 115, 0.55), 2rem .5rem 0 8px rgba(0, 255, 115, 0.7);
        
        // &::after {
        //     content: '';
        //     z-index:-4;
        //     position: absolute;
        //     top:0;
        //     left: 0;
        //     transform: rotateZ(30deg);
        //     border-top-right-radius: 20% 50rem;
        //     border-bottom-right-radius: 110rem 15%;
        //     border-bottom-left-radius: 25%;
        //     background:rgba(39, 180, 93, .4);
        //     width: 100%;
        //     height:100%;
            
        // }
    }

    &__container {
        display: flex;
        position: absolute;
        top: 5rem; 
        left: 7rem;

    }

    &__heading-container {
        // background:rgb(0, 0, 0);
        // position: absolute;
        // border-radius: 2.8rem;
        // box-shadow:  -1rem -1rem 0 1rem rgba(199, 14, 14, 0.281), 
        //              1rem 1rem 0 1rem rgba(11, 160, 165, 0.5);
                    //  0 2rem 0 3.6rem rgba(0, 0, 0, 0.5);
    }

    &__heading {
        line-height: .9;
        // height: 10rem;
        position: relative;
        // opacity: .85;
        box-sizing: content-box;
        padding: 2rem 2rem;
        // box-shadow: inset -4rem 0 6rem -2.6rem rgba(0, 0, 0, 0.5), 
        //             inset 0 -2rem 6rem -3.6rem rgba(0, 0, 0, 0.5),  
        //             inset 0 2rem 6rem -3.6rem rgba(0, 0, 0, 0.5);
        border-radius: 2.8rem;
        // background-color: rgba(204, 195, 69, 0.8);
        // background-image: linear-gradient(70deg, rgba(0, 0, 0, .1) 50%, rgba(255, 255, 255, .2) 50%);
        // background-image: linear-gradient(120deg, transparent 20%, rgba(255, 255, 255, .35), 
        //                                         rgba(255, 255, 255, .7), rgba(255, 255, 255, .35), transparent 80%);
       
        // letter-spacing: 4px;
        z-index: 300;
        font-weight: 100;
        width: 32rem;
        // font-family: 'Notable', sans-serif;
        font-family: 'Lobster', cursive;
        font-size: 18rem;
        // text-shadow:  -5rem 0 0px rgb(158, 55, 55),  3px 3px 0px rgb(255, 255, 255), 
        //               2px 1px 1px rgb(124, 131, 128);
        -webkit-box-decoration-break: clone;

        &--top, &--bottom {
            // height: 10rem;
            // line-height: 1rem;
            color: transparent;
            padding-right: 1rem;
            background-color: rgb(255, 255, 255);
            // background-image: linear-gradient(25deg, transparent, rgba(255, 255, 255, .6), rgba(255, 255, 255, .3), transparent), linear-gradient(100deg, rgb(49, 40, 40), rgb(49, 34, 34));
            background-clip: text;
            -webkit-background-clip: text;
        }

        &__top {
        
        }

        &--bottom {
            padding-left: 5.5rem;
            // height: 12rem;
            // text-orientation: upright;
            // writing-mode: vertical-lr;
        }

        &--uncapital {
            // text-decoration: underline;
            // line-height: .85;
            font-size: 5rem;
        }
        
        &--capital {
            
            background-color: none;
            text-shadow:  .45rem -.2rem 0px rgba(255, 75, 75, 0.5), -.45rem .2rem 0px rgba(75, 75, 255, 0.5);//,0 0 1px rgb(255, 255, 255);
        }

    }

    &__handfan {
        position: relative;
        z-index: 1000;
        // position: absolute;
        // top:30rem;
        // right: 
    }

    &__blade {
        
        position: absolute;
        background:rgb(196, 196, 196);
        height: 28rem;
        width:6rem;
        background-image: radial-gradient(circle at 60% 46%, transparent, rgba(255, 255, 255, 0.719), transparent), 
                          linear-gradient(-83deg, transparent 37%,  rgba(85, 85, 85, 0.74) 37%, rgb(82, 82, 82) 39%, rgba(117, 112, 112, 0.712) 39%);
        -webkit-clip-path: polygon(0 0, 100% 0 , 100% 84%, 0 100%);
        border-top-left-radius: 100%;
        line-height: 28rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        // border: 1px solid black;

        // &--1 {
        //     // transform: rotate(@rotate-blade(1));
        // }

        // &--2 {
        //     transform: rotate()
        // }

        // &--3 {
        //     transform: rotate()
        // }

        // &--4 {
        //     transform: rotate()
        // }

        // &--5 {
        //     transform: rotate()
        // }

        // &--6 {
        //     transform: rotate()
        // }

        // &--7 {
        //     transform: rotate()
        // }

        // &--8 {
        //     transform: rotate()
        // }

        // &--9 {
        //     transform: rotate()
        // }

        // &--10 {
        //     transform: rotate()
        // }

        // &--11 {
        //     transform: rotate()
        // }

        // &--12 {
        //     transform: rotate()
        // }
    }

}