//////    cool red 235, 64, 52

// $color-primary: 

$header-nav-height: 11.5rem;
$header-stuck-height: 9rem;


$color-primary: rgb(130, 64, 168);

$color-secondary: rgb(182, 88, 116);

$color-tertiary: rgb(0, 255, 115);

$color-quaternary: rgb(63, 166, 226);