//////    cool red 235, 64, 52

// $color-primary: 

$header-nav-height: 11.5rem;
$header-stuck-height: 7.5rem;


$color-primary: rgb(130, 64, 168);
$color-primary-light: rgb(170, 102, 209);
$color-primary-dark: rgb(100, 39, 136);

$color-secondary: rgb(219, 159, 80);
$color-secondary-light: rgb(240, 196, 138);
$color-secondary-dark: rgb(172, 125, 63);

// $color-tertiary: rgb(0, 255, 115);   

// $color-quaternary: rgb(63, 166, 226);