
*, *::after, *::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 62.5%;

    @include respond(large) {
        // font-size: 75%;
    }
    @include respond(medium) {
        font-size:56.25%;
    }
    @include respond(medium-small) {
        font-size: 50%;
    }
    @include respond(small) {
        font-size: 35%;
    }
}

body {
    box-sizing: border-box;
    position: relative;
}


a:active,
a:visited,
a:focus,  
a:link {
    
    text-decoration: none;
}


ul {
    list-style-type: none;
}

input, textarea, button {
    outline: none;
    border: none;
}
