@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');



@import url('https://fonts.googleapis.com/css?family=Anton|Dosis|Josefin+Sans|Quicksand|Titillium+Web|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Notable|Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
.section-heading {

    font-size: 7rem;
    font-family: 'Titillium Web', sans-serif;
    // font-family: 'Quicksand', sans-serif;
    // font-family: 'Dosis', sans-serif;
    // font-family: 'Josefin Sans', sans-serif;
    // font-family: 'Anton', sans-serif;
    color: rgba(0, 0, 0, .3);
    font-weight: 100;
    text-transform: uppercase;

}

.myself-section {

}

