.main {
    width: 100%;
}

.section {
    padding: 11rem 6rem;
    padding-top: 10rem;
    position: relative;
    width: 100%;
    transition: height .6s ease-in;
    transition: opacity .6s ease-in;

    @include respond(medium) {
        padding: 11rem 3rem;
    }

    @include respond(small) {
        padding: 11rem 6rem;
    }

    &__container {
        padding: 0 6rem;
        margin: 0 auto;
        width: 75%;
    }

    &:nth-of-type(2n):not(.contact-section) {
        background-color: rgba(0, 0, 0, .06);
    }

    &:nth-of-type(2n + 1) {
        background-color: white;
    }
}

.myself-section {
    z-index: 5;

    &__container {
        padding: 0 6rem 8rem;
        margin: 0 auto;
        width: 75%;

        @include respond(medium) {
            padding: 0 ;
        }
    }
}

.skills-section {

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        justify-content: center;
        grid-gap: 10rem; 
        padding-left: 9rem;
        padding-right: 9rem;
        margin: 0;
        width: 100%;

        @include respond(small) {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }
    }

    &__skill-box {
        opacity: 0;
        height: 25rem;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        position: relative;
        justify-content: center;
        transform: translateY(-15%) scale(.75);
        align-items: center;
        border-radius: 2.6rem;
        box-shadow: .1rem .2rem .3rem .1rem rgba(0, 0, 0, 0.25);


        &.skill-box-appear {
            
            transform: translateY(0) scale(1);
            opacity: 1;
            $delay: 0;

            @for $i from 1 through 9 {
                &:nth-child(#{$i})  {
                    transition: opacity .4s #{$delay}s linear, transform .4s #{$delay}s linear;
                }
                $delay: $delay + .2;
            }
        }
    }

    &__img {
        display: block;
        padding: 5rem;
        margin: 0 auto;
        max-width: 27rem;
        max-height: 25rem;
        object-fit: contain;

        @include respond(small) {
            max-height: 20rem;
            max-width: 22rem;
        }
    }
}

.projects-section {
    padding-bottom: 10rem;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        grid-gap: 2rem;
    }

    &__item {
        display: flex;
        height: 30rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: .1rem .2rem .65rem .1rem rgba(0, 0, 0, .3);
    }

    &__img-container {
        position: relative;
        width: 95%;
        height: 95%;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        box-shadow: 0 0 .6rem -1px rgba(0, 0, 0, 1);

        &::after {
            content:'';
            width: 100%;
            height: 100%;
            background:transparent;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__item-overlay {
        width: 100%;
        height: 100%;
        font-family: 'Ubuntu', sans-serif;
        position: absolute;
        transform-origin: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 2rem;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .25s ease-in;
        background-image: linear-gradient(to bottom, lighten($color-secondary-light, 10%) 50%, rgba(255, 255, 255, .85));

        @include respond(small) {
            opacity: 1;
            height: 100%;
        }

        &.project-item-overlay-visible {
            opacity:1;
        }
    }

    &__item-description {
        color: rgba(0, 0, 0, .65);
        font-size: 1.75rem;
        width: 85%;
        font-weight: 700;
        margin: 0 auto;
        border-radius: .5rem;
        text-align: justify;

        @include respond(small) {
            font-size: 2.5rem;
            color: $color-secondary-light;
            text-shadow: 0px -1px 1px rgba(0, 0, 0, .5), 1px 1px 3px rgba(0, 0, 0, 1), 1px 1px 3px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, .7);
        }
    }
}

.contact-section {
    overflow: hidden;
    background-color: $color-primary-dark;

    &__heading {
        color: white;
    }

    &::after {
        content: 'Replies within 2 business days!!';
        height: 4.5rem;
        width: fit-content;
        color: rgb(255, 255, 255);
        line-height: 4.5rem;
        position: absolute;
        top: 7.5rem;
        right: -4.5%;
        transform: rotate(40deg);
        background-color: rgba(0, 0, 0, 0.438);
        font-family: 'Inconsolata', monospace;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0 5.5rem;
        box-shadow: inset 0 0 0 .1rem black, inset 0 0 0 .2rem white, 0 .1rem .5rem .1rem rgba(255, 255, 255, .5);

        @include respond(medium) {
            right: -7.5%;
        }
        
        @include respond(small) {
            font-size: 1.4rem;
            right: -8%;
            top: 5.5rem;
            transform: rotate(32deg);
            padding: 0 7.5rem;
        }
        
        @include respond(small) {
            display: none;
            font-size: 1.4rem;
            right: -8%;
            bottom: 4%;
            top: auto;
            transform: rotate(-32deg);
            padding: 0 7.5rem;
        }
    }
}