// .splash {
//     height: 600px;
//     background:red;
//     // width: 100vw;
    
// }

.main {
    // position: relative;
    width: 100%;
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .95));
}

.section {
    padding: 11rem 6rem;
    padding-top: 10rem;
    position: relative;
    width: 100%;
    transition: height .6s ease-in;
    transition: opacity .6s ease-in;

    @include respond(medium) {
        padding: 11rem 3rem;
    }

    @include respond(small) {
        padding: 11rem 6rem;
    }

    &__container {
        padding: 0 6rem;
        margin: 0 auto;
        width: 75%;
    }

    &:not(.contact-section) {
        
        // box-shadow: 0 1rem 1rem -1px rgba(0, 0, 0, .15);
        // background-image: linear-gradient(to bottom, white 5%, rgba(255, 255, 255, 0.8) 20%, transparent, transparent 80%, rgba(255, 255, 255, 0.8) 95%, white);
        // opacity:0; 
    }

    &.section-visible {
        // opacity: 1;
    }

    &:not(.goals-section) {
        // display: flex;
    }

    &:nth-of-type(2n):not(.contact-section) {

        
        background-color: rgba(0, 0, 0, .06);
    }

    &:nth-of-type(2n + 1) {

        background-color: white;
        // background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, .65));
    }
    // box-shadow: 0 0px 10px -2px rgba(0, 0, 0, .3);

    // &:not(:last-of-type) {
    //     height:10rem;
    // }
    // top:
}

.myself-section {
    // height: 400px;
    // background-image: linear-gradient(to bottom, white, rgba(187, 44, 206, 0.35));//, rgba(white, 1);
    z-index: 5;
    // background-image: linear-gradient(to bottom, white 20%, rgba(0, 0, 0, .75));

    &__container {
        // border: 1px solid black;
        // background-color: rgba(0, 0, 0, 0.07);
        // box-shadow: 0 1rem .7rem .2rem rgba(0, 0, 0, 0.55);
        padding: 0 6rem 8rem;
        margin: 0 auto;
        width: 75%;

        @include respond(medium) {
            // margin:0;
            padding: 0 ;
        }
    }

    // &__list-container {

    // }
    
    // &__list {
    //     // font-size: 
    // }
}

.skills-section {

    &__container {
            
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(25rem, 30rem));
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        grid-gap: 10rem; 
        padding-left: 9rem;
        padding-right: 9rem;
        margin: 0;
        width: 100%;
    }

    &__skill-box {
        opacity: 0;
        height: 25rem;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        position: relative;
        justify-content: center;
        transform: translateY(25%);
        align-items: center;
        border-radius: 2.6rem;
        box-shadow: .1rem .2rem .3rem .1rem rgba(0, 0, 0, 0.25);


        &.skill-box-appear {
            
            transform: translateY(0);
            opacity: 1;
            $delay: 0;

            @for $i from 1 through 7 {
                &:nth-child(#{$i})  {
                    transition: opacity .45s #{$delay}s linear, transform .45s #{$delay}s linear;

                }
                $delay: $delay + 0.3;
            }
        }
    }

    &__img {
        display: block;
        padding: 2rem;
        margin: 0 auto;
        max-width: 27rem;
        max-height: 25rem;
        object-fit: contain;

        @include respond(smallest) {
            max-height: 23rem;
        }
        
    }

}

// .goals-section {

//     height: 390vw;
//     padding-bottom: 40rem;
//     // background-image: linear-gradient(to bottom, white, rgba(187, 44, 206, 0.6));//, rgba(white, 1);

//     // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.55));
//     // background-color: rgb(52, 224, 138);
//     color: rgba(0, 0, 0, 0.4);
//     z-index: 3;

//     @include respond(medium) {
//         height: 590vw;
//     }

//     &__list {
//         width: 60%;
//         font-size: 2.5rem;
//         margin: 0 auto;
//         margin-bottom: 60rem;
//     }

//     &__item {

//         position: relative;
//         padding-left: 10rem;
//         line-height: 9rem;
        
//         &::before {
//             content:'';
//             position: absolute;
//             top: 4.5rem;
//             left: 0;
//             transform: translateY(-50%);
//             width: 1.8rem;
//             height: 1.8rem;
//             border-radius: 20px;
//             border: 1px solid rgba(0, 0, 0, 0.1);
//             box-shadow: .2rem .2rem 1rem 1px rgba(0, 0, 0, .2);
//             background-image: radial-gradient($color-secondary-dark 20%,rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.1) 45%, rgba(0, 0, 0, 0.1) );
//         }
//     }

//     &__pre-world-come-together-container {
//         position: relative;
//         overflow: hidden;
//         width: 50%;
//         background-image: linear-gradient(to right, white 15%, transparent 25%);
//         margin: 0 auto;
//         margin-bottom: 55rem;

//         @include respond(medium) {
//             width: 65%;

//         }
//     }

//     &__pre-world-come-together {
//         position: relative;
//         left: -100%;
//         font-size: 7rem;
//         // width: 60%;
//         text-align: center;
//         margin: 0 auto;
//         display: block;
//         transition: all 1.3s ease-in;
//         opacity: 0;

//         @include respond(medium) {
//             font-size: 5.5rem;
//         }

//         &.pre-world-come-together-slid {
//             opacity: 1;
//             left: 0;
//         }
//     }


//     &__world-come-together-word {

//         height: fit-content;
//         position: sticky;
//         top: 35rem;
//         color: rgba(0, 0, 0, 0.473);
//         word-spacing: 1.5rem;
//         font-size: 8rem;
//         margin-left: 11rem;
//         font-family: 'Aladin', crusive;

//         @include respond (medium) {
//             word-spacing: 1rem;
//         }

//         &--1 {
//             padding-left: 9.5vw;

//             @include respond(medium) {
//                 margin-left: 0;
//                 padding-left: 2rem;
//             }
//         }

//         &--2 {
//             margin-top: 50rem;
//             padding-left: 24vw;

//             @include respond(medium) {
//                 padding-left: 12.5vw;
//             }
//         }

//         &--3 {
//             margin-top: 100rem;
//             padding-left: 43.5vw;

//             @include respond(medium) {
//                 padding-left: 40.5vw;
//             }
//         }

//         &--4 {
//             color: transparent;
//             background-image: conic-gradient(at 50% 62%, #7325B8, #DF4740, #EE975A, #E5D14C, #65CA68, #1489EA, #7325B8);
//             -webkit-background-clip: text;
//             background-size: 23vw;
//             background-repeat: no-repeat;
//             background-position: 90%;
//             background-clip: text;
//             margin-top: 150rem;
//             padding-left: 60vw;

//             @include respond(medium) {
//                 padding-left: 63.5vw;
//                 background-size: 35vw;
//                 background-position: 115%;
//             }
//         }
//     }
// }

.projects-section {

    padding-bottom: 10rem;

    &__container {
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(25rem, 30rem));
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        margin: 0;
        padding: 0;
        width: 100%;
        grid-gap: 2rem;
    }

    &__item {
        display: flex;
        height: 30rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: .1rem .2rem .3rem .1rem rgba(0, 0, 0, 0.3);
    }

    &__img-container {
        position: relative;
        width: 95%;
        height: 95%;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        box-shadow: 0 0 .6rem -1px rgba(0, 0, 0, 1);

        &::after {
            content:'';
            width: 100%;
            height: 100%;
            background:transparent;
            position: absolute;
            top: 0;
            left: 0;
            // box-shadow: inset 0 0 .5rem 9px black;

        }
    }

    &__item-overlay {
        width: 100%;
        height: 50%;
        font-family: 'Ubuntu', sans-serif;
        position: absolute;
        transform-origin: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        bottom: 0;
        opacity: 0;
        transform: translateY(10%);
        left: 0;
        transition: all .25s ease-in;
        background-color: rgba(255, 255, 255, 1);

        @include respond(small) {
            opacity: 1;
            height: 100%;
            transform: translateY(0);
            background-color: rgba(255, 255, 255, .85);
        }

        &.project-item-overlay-visible {
            opacity:1;
        }
    }

    &__item-description {
        // background: rgba(0, 0, 0, 0.6);
        color: rgba(0, 0, 0, .65);
        font-size: 1.75rem;
        width: 85%;
        font-weight: 700;
        margin: 0 auto;
        border-radius: .5rem;
        // padding: 1.3rem 5%;
        text-align: justify;

        @include respond(small) {
            font-size: 2rem;
        }
    }

    // &__item-go {
    //     font-size: 3rem;
    //     color: rgba(255, 255, 255, .9);
    //     // border: 2px solid rgba(255, 255, 255, 1);
    //     border-radius: 50px;
    //     // background-color: rgba(0, 0, 0, 0.6);
    //     line-height: 7.7rem;
    //     text-align: center;
    //     width: 8rem;
    //     height: 8rem;
    //     transition: all .15s linear;

    //     &:hover {
    //         transform: scale(1.05);
    //     }
    // }
}

.contact-section {

    overflow: hidden;
    background-color: $color-primary-dark;
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, .85), rgba(0, 0, 0, .9));
 

    &__heading {
        color: white;
    }

    &::after {
        content: 'Replies within 2 business days!!';
        height: 4.5rem;
        width: fit-content;
        color: rgb(255, 255, 255);
        line-height: 4.5rem;
        position: absolute;
        top: 7.5rem;
        right: -4.5%;
        transform: rotate(40deg);
        background-color: rgba(0, 0, 0, 0.438);
        font-family: 'Inconsolata', monospace;
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0 5.5rem;
        box-shadow: inset 0 0 0 .1rem black, inset 0 0 0 .2rem white, 0 .1rem .5rem .1rem rgba(255, 255, 255, .5);

        @include respond(medium) {
            right: -7.5%;
        }
        
        @include respond(small) {
            font-size: 1.4rem;
            right: -8%;
            top: 5.5rem;
            transform: rotate(32deg);
            padding: 0 7.5rem;
        }
        
        @include respond(small) {
            display: none;
            font-size: 1.4rem;
            right: -8%;
            bottom: 4%;
            top: auto;
            transform: rotate(-32deg);
            padding: 0 7.5rem;
        }

    }


}